{% extends 'base.html' %}

{% block content %}


<!DOCTYPE html>
<html>
    <head>
        <title>Bee's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Bee's Blog</a></h1>
        </header>
        <br>
       
        <article>
            {% for post in posts %}
        </article>
            <time>published: {{ post.published_date }}</time>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text |linebreaksbr }}</p>
            
            {% endfor %}
        </article>

     </body>
</html>

{% endblock %}