{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
            <a class="btn btn-secondary" href= "{% url 'post_edit'  pk=post.pk %}">
                {% include './icons/pencil-fill.svg' %}
            </a>
            {% endif %}
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text| linebreaks }}</p>
    </article>
        <h3>Leave a comment:</h3>

        <form method="post">
            {% csrf_token %}
            <div>
                {{ form.author }}
            </div>
            <div>
                {{ form.body }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <h3>Comments:</h3>

        {% for comment in comments %}
            <p>
                On {{ comment.created_on.date }} <b>{{ comment.author }}</b> wrote:
            </p>
            
            <p>
                {{ comment.body | linebreaks }}
            </p>
        {% endfor %}

   
{% endblock %}